process {
    executor = 'local'
    withLabel: small {
        cpus = 28
        memory = 100.GB
    }
    withLabel: medium {
        cpus = 28
        memory = 100.GB
    }
    withLabel: large {
        cpus = 28
        memory = 100.GB
    }

    withLabel: stage {
        storeDir = "stage/${params.organism}"
    }

    withLabel: index {
        storeDir = "bt_index/${params.organism}"
    }
}
