// Name of your organism
params.organism = "S_albus_J1074"

// Whether to re-run execution if the result was already found
params.force = false

// Defaults for organism directory and metadata file
params.org_dir = "../organisms/${params.organism}/"
params.metadata = "${params.org_dir}/${params.organism}.tsv"
params.sequence_dir = "${params.org_dir}/sequence_files"
params.outdir = "${params.org_dir}/nf_results"